a {
    text-decoration: none;
    color: inherit;
    color: #333;
}
a:hover {
    text-decoration: underline;
}
.navbar {
    background: #FFF !important;
    border-bottom: 1px solid #ddd;
}

.explore-people {
    position: sticky;
    top: 5rem;
}
.explore-people-list, .request-follow-list {
    padding-right: 1rem;
    max-height: 500px;
    overflow-y: auto
}

.profile-label {
    cursor: default;
}
.profile-dropdown {
    position: relative;
}
.profile-dropdown .card {
    padding-right: 1rem;
    max-height: 400px;
    overflow-y: auto;
    padding-top: 0.5rem;
}
.profile-list {
    display: none;
    right: 0;
    min-width: 180px;
    position: absolute;
    z-index: 9;
}
.profile-dropdown:hover .profile-list {
    display: block;
}
.profile-user:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.card-images {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.card-images img {
    scroll-snap-align: start;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1000px;
    }
}

.center {
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 4000;
    background-color: white;
    inset: 0;
}
.center * {
    font-size: 60px;
}
.pointer {
    cursor: pointer;
}
.scale-15 {
    transform: scale(1.5);
}

@keyframes heartAlreadyLike {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.5);
    }
}
@keyframes heart {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.5);
    }
}
@keyframes likeWithDoubleClick {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(6);
    }
    75% {
        transform: scale(6);
    }
    100% {
        transform: scale(0);
    }
}
.heart {
    animation: heart .3s forwards;
}
.heartAlreadyLike {
    animation: heartAlreadyLike .3s forwards;
}

.bi-heart-fill {
    color: red;
}

.likeInImg .bi-heart-fill {
    color: white;
    transform: scale(0);
}

.adj-top {
    top: calc(50% - 6px *6);
}

.likeInImg .bi-heart-fill.likeWithDoubleClick {
    animation: likeWithDoubleClick .6s forwards;
}

.detail {
    inset: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2000;
}

.detail-post {
    max-height: calc(100vh - 40px);
}

.postDescription {
    max-width: 500px;
    background-color: white;
    min-width: 405px;
    overflow-y: visible;
    flex-grow: 1;
    overflow-x: visible;
    min-height: 0;
}

.postDescription .profile {
    padding: 14px 4px 14px 16px;
    box-sizing: content-box;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.comments {
    min-height: 580px;
    max-height: 580px;
    padding: 14px 4px 14px 16px;
    box-sizing:border-box;
    height: calc(100% - 32px);
}

.scale-18 {
    transform: scale(1.8);
}

.postDescription .totalLikes {
    font-size: 1rem;
}
.postDescription .time {
    font-size: .8rem;
}
.buttons {
    border-bottom: 1px solid rgb(236, 236, 236);
    border-top: 1px solid rgb(236, 236, 236);
}

.inputComment input {
    border: none;
    padding: 15px 5px;
    outline: none;
    font-size: 1rem;
}
.inputComment button {
    border: none;
    padding: 15px 15px;
    outline: none;
    background-color: transparent;
}

.postImg {
    max-height: 1002px;
    aspect-ratio: 1410 / 1549;
    min-height: 450px;
    max-width: 912.085px;
    height: 805px;
}

.commentss {
    overflow: auto;
}

.xBtn {
    right: 1%;
    top: 1%;
    color: white;
}

.comment {
    font-size: 14px;
}

.comment .description {
    font-weight: 600;
}

.default {
    cursor:none;
}

.search {
    min-height: 300px;
    background-color: white;
    width: 300px;
    top: 120%;
    left: -10%;
    box-sizing: border-box;
}

.search input {
    padding: 7px 10px;
    border-radius: 5px;
    width: 100%;
    border: none;
    background-color: rgb(241, 241, 241);
    outline: none;
}

.history {
    border-top: 1px solid white;
}